/*your custom css goes here*/
p,
li {
    font-size: 16px;
    line-height: 28px;
}

.black_light_clr {
    color: #363636;
}

.blue_light_clr {
    color: #123498;
}

.green_light_clr {
    color: #23780E;
}

.green_bg_clr {
    background-color: #23780E;
}

.blue_bg_light_clr {
    background-color: #123498;
}

.light_bg_gray {
    background: #609A380D !important;
}

.copy_rights_section a {
    color: #fff;
}

.bg_gray {
    background-color: #23780E0D;
}

.custom_button {
    border-radius: 100px;
    padding: 7px 20px !important;
}

.btn-success,
.btn-soft-success:hover,
.btn-outline-success:hover {
    background-color: #23780E;
    border-color: #23780E;
    color: var(--white);
}

.searc_box_product i {
    font-size: 20px;
    margin-right: 6px;
    position: relative;
    top: 3px;
}

.veterinary_btn {
    margin-right: 30px !important;
}

.top-navbar {
    border-bottom: 1px solid #3636361A;
    border-top: 4px solid #23780E;
}

.top_baar_icons img {
    width: 24px !important;
    margin-right: 8px;
}

.human_btn a {
    border: 1px solid #23780E;
}

.human_btn a {
    float: left;
}

.human_btn img {
    width: 11px;
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.human_btn a {
    width: 75px;
    text-align: center;
    color: #23780E !important;
    background: #23780E33;
    border-radius: 8px;
    padding: 0px 0px !important;
    font-weight: 400;
    margin-top: 9px;
    font-size: 11px !important;
    line-height: 24px;
}

.human_btn .active {
    background: #23780E;
    color: #fff !important;
}

.human_btn .active img {
    filter: grayscale(100%) brightness(1000%);
}

.veterinary_btn a {
    border: 1px solid #123498;
}

.veterinary_btn a {
    float: left;
}

.veterinary_btn img {
    width: 11px;
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.veterinary_btn a {
    width: 85px;
    text-align: center;
    color: #123498 !important;
    background: #12349833;
    border-radius: 8px;
    padding: 0px 1px !important;
    font-weight: 400;
    margin-top: 9px;
    font-size: 11px !important;
    line-height: 24px;
}

.veterinary_btn .active {
    background: #123498;
    color: #fff !important;
}

.veterinary_btn .active img {
    filter: grayscale(100%) brightness(1000%);
}

.top_baar_icons {
    padding-top: 6px;
}

.top_baar_icons li {
    margin-right: 30px !important;
}

.top_baar_icons li a {
    color: #363636 !important;
}

.flash_deals_section {
    background-size: cover;
    background-position: center;
}

.payment_safe_secrtion {
    background: #363636;
    padding: 40px 60px;
    border-radius: 30px;
}

.payment_boxs {
    display: flex;
    gap: 15px;
}

.headeing_size {
    font-size: 34px;
    line-height: 45px;
}

.product_img_bg {
    position: relative;
    margin: 0px 10px;
}

.product_box_mains {
    position: relative;
    padding: 0px 15px;
    margin-top: 0px;
}

.product_img_bg img {
    margin-top: 25px;
    margin-bottom: 25px;
    object-fit: cover;
    height: auto;
    width: 80%;
    display: block;
}

/* .product_img_bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 272px;
    background-image: url('/public/assets/img/product_rectangle_bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
} */
.sale_box_main .product_img_bg img {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.width_80 {
    max-width: 78%
}

.width_20 {
    max-width: 22%
}

/*--testiminioal css open--*/

#customers-testimonials .item {
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .slick-center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

#customers-testimonials .slick-slide img {
    transform-style: preserve-3d;
    max-width: 70px;
}

#customers-testimonials .slick-slide {
    filter: contrast(1) blur(0.7px);
}

.shadow-effect {
    background: #fff;
    padding: 30px 30px 10px 30px;
    text-align: center;
    border-radius: 48px;
}

#customers-testimonials .shadow-effect p {
    font-weight: 400;
    text-align: left;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

.shadow-effect h4 {
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
}

.shadow-effect p {
    line-height: 28px;

}

.quote_icon {
    position: absolute;
    right: 23px;
    top: 0px;
}

button.slick-prev.slick-arrow {
    display: none !important;
}

button.slick-next.slick-arrow {
    display: none !important;
}

#customers-testimonials .slick-slide.slick-current.slick-active.slick-center {
    filter: contrast(1) blur(0px) !important;
}

#customers-testimonials .rating1 {
    margin-bottom: 15px;
}

#customers-testimonials .slick-slide.slick-current.slick-active.slick-center .testimnl_box {
    background-color: #123498;
}

#customers-testimonials .slick-slide.slick-current.slick-active.slick-center .rating1 i {
    color: #123498;
}

.rating1 i {
    color: #363636;
}

.testimnl_box {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #363636;
    border-radius: 50px;
    padding: 7px 10px;
}

.testimonials {
    background-size: cover;
    background-position: center;
}

/*--testiminioal css close--*/


/*-- accordion css open --*/

.accordion_section .accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.accordion_section .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

.whu_choose_box {
    display: flex;
    align-items: start;
    gap: 15px;
    background: #fff;
    border-radius: 75px 75px 75px 0;
    padding: 25px 25px;
}

section.why_choose_us {
    background: #1234981A;
}

.whu_choose_box img {
    width: 75px;
}

/*-- accordion css open --*/


/*-- category section css open --*/
.category_images {
    background: #123498;
    border-radius: 100%;
    text-align: center;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.category_images img {
    width: 95px;
    height: auto !important;
    padding: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.category_borders {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    border: 1px dashed #123498 !important;
}

.category_boxex_main {
    border: 1px solid #123498;
    margin: 0px 10px;
    border-radius: 60px;
    padding-top: 15px;
}

.searc_box_product {
    background: #fff;
    box-shadow: 2px 0px 37px -10px rgb(0 0 0 / 13%);
    border-radius: 50px 0px 050px 0px;
    margin-top: -63px;
    position: relative;
    padding: 25px 30px 15px 30px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.searc_box_product h3 {
    font-size: 20px;
}

body .form-control:focus {
    border-width: 1px !important;
}

.list_none li {
    list-style: none;
}

.list_none li img {
    width: 20px;
    margin-right: 6px;
}

.list_none li {
    padding-bottom: 10px;
}

.list_none {
    margin-left: 0;
    padding-left: 0;
}

.login_form_popup input {
    border: 1px solid #363636CC;
    border-radius: 15px !important;
    height: 45px !important;
}


.login_form_popup textarea,
.login_form_popup .dropdown-toggle {
    border: 1px solid #363636CC;
    border-radius: 15px !important;
}

.login_form_popup .form-control::placeholder {
    font-size: 14px;
}

.login_form_popup .iti__selected-flag {
    background: transparent !important;
    border: 0 !important;
}

.login_form_popup .iti--allow-dropdown input {
    padding-left: 80px !important;
}

.login_form_popup label {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #363636;
}

.login_form_popup .modal-header {
    border: 0;
    padding: 0;
    text-align: center;
    display: block;
}

.login_form_popup h5.modal-title {
    font-size: 24px;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 10px;
}

.login_form_popup .modal-content {
    border: 0 !important;
    border-radius: 40px !important;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px !important;
    padding-top: 30px !important;
}

.login_form_popup .modal-body {
    padding: 0 !important;
    overflow: initial !important;
    max-height: max-content;
}

.login_form_popup .modal-footer {
    border-top: 0 !important;
    padding: 0;
    justify-content: space-between;
}

.purple_btn button {
    border-radius: 50px;
    padding: 7px 25px;
}

.display_flexx {
    display: flex;
    align-items: center;
    gap: 12px;
}

.resend_otp a {
    text-decoration: underline !important;
    cursor: pointer;
}

.black_buttons img {
    position: relative;
    top: -1px;
}

.black_buttons button {
    background: transparent !important;
    border: 0;
    color: #363636 !important;
}

.login_form_popup .animate_button {
    font-size: 14px;
}

.thank_you_label {
    background: rgb(35 120 14 / 8%);
    border: 1px solid #23780E;
    text-align: center;
    border-radius: 20px;
    color: #23780E;
    margin: 0px 30px;
    padding: 7px 13px;
    margin-bottom: 0 !important;
}

img.thank_you_clas {
    width: 99%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

h3.login_heds.thank_head {
    font-size: 30px;
    padding-top: 20px;
}

/* 
.purple_btn button:hover {
    background: #23780E;
    border-color: #23780E;
} */

.purple_btn img {
    width: 6px;
    position: relative;
    top: 0px;
}

.gray_light {
    background: #F5F8FB;
}

.footer_address_1 li {
    display: flex;
    align-items: self-start;
    gap: 11px;
}

.footer_address_1 li img {
    width: 27px;
    position: relative;
    top: 1px;
}

ul.social a {
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50em;
    line-height: 35px;
    text-align: center;
    font-size: 17px;
    background-color: transparent !important;
}

.social_media img {
    width: 22px;
    height: 22px;
}

.accordion_section a.card-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    border: 0;
}

.accordion_section .card-header {
    border: 0;
    padding: 0;
    border-bottom: 1px solid #36363680;
    cursor: pointer;
}


body .accordion_section .card {
    border: 0 !important;
    box-shadow: none !important;
}

.accordion_section .card-body {
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    padding-top: 17px;
    border-bottom: 1px solid #36363680;
    border-radius: 0;
    padding-bottom: 15px;
}

.tabs_products button {
    border: 0;
    padding: 4px 20px;
    border-radius: 50px !important;
    margin-right: 15px;
    background: #1234981A;
    color: #123498;
    font-weight: 500;
    margin-bottom: 20px;
}


.tabs_products .nav-link.active {
    background: #123498;
}

body .aiz-count-down-circle {
    background: transparent !important;
    box-shadow: none;
}

body .aiz-count-down-circle {
    background: transparent !important;
    box-shadow: none;
    padding: 0px !important;
}

.aiz-count-down-circle #time {
    gap: 25px;
}

.aiz-count-down-circle #time {
    gap: 15px;
}

.aiz-count-down-circle #time .circle svg {
    width: 100px;
}

body .aiz-count-down-circle #time .circle {
    position: relative;
    width: 110px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

body .aiz-count-down-circle #time div {
    position: absolute;
    text-align: center;
    font-weight: 600;
    color: #23780E;
    font-size: 45px;
    background: #fff;
    margin-left: 0;
    border-radius: 20px;
    margin-top: -18px;
    line-height: 35px;
}

body .aiz-count-down-circle #time div span {
    color: #363636;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0em;
}

body .aiz-count-down-circle #time .circle svg circle:nth-child(2) {
    stroke: #ffffff !important;
    stroke-width: 0;
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
}

body .aiz-count-down-circle #time .circle svg circle {
    stroke-width: 0;
}

.aiz-count-down-circle {
    display: block !important;
}

.deal_heading h4 {
    font-size: 158px;
    font-weight: 600;
    transform: rotate(270deg);
    color: #23780E1A;
    top: 163px;
    position: relative;
}

.flash_images {
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sale_box_main {
    background: #fff;
    border-radius: 25px;
    margin-top: -80px;
    padding-top: 13px;
    box-shadow: -1px 2px 60px 4px rgb(0 0 0 / 5%);
    padding-bottom: 1px;
    padding-right: 4px;
}

.sale_box_main .product_img_bg {
    display: flex;
    background: #1234981A !important;
    padding: 10px !important;
    border-radius: 20px;
    align-items: center;
    margin: 0;
    margin-bottom: 8px;
}

.sale_box_main .product_img_bg .position-relative.overflow-hidden {
    width: 30%;
    background: #fff;
    height: auto;
    border-radius: 15px;
}

.sale_box_main .product_img_bg .product_box_mains {
    width: 70%;
}

.sale_box_main .product_img_bg::before {
    display: none;
}

.sale_box_main .product_img_bg .position-relative.overflow-hidden a {
    height: auto !important;
}

.sale_heading {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}

.sale_heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(54, 54, 54, 0.1);
}

.sale_blue_a::before {
    background-color: rgba(18, 52, 152, 1);
}

.sale_green_a::before {
    background-color: rgba(35, 120, 14, 1)
}

.sale_heading::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 30px;
    height: 3px;
    z-index: 9;
}

.sales_box_gren .product_img_bg {
    background: rgba(35, 120, 14, 0.1) !important;
}

.sales_box_gren .product_img_bg span.fw-700.text-primary {
    color: #23780E !important;
}

/*--coutner css open --*/

.counter_boxex .counter-value {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
}

.counter_content p {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 22px;
    padding-top: 7px;
}

.counter_boxex .counter_img img {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.counter_boxex {
    display: flex;
    gap: 15px;
    align-items: center;
}

.counter_boxex .counter-value {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
}

.counter_boxex span {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
}

.display_flexs {
    display: flex;
}

.front-header-search.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1 !important;
    top: 0px;
}

.front-header-search {
    position: absolute;
    z-index: 111;
    width: 94%;
    height: 100%;
    top: -33px;
    right: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: .3s;
    -webkit-transition: .3s;
}

.display_flex1 {
    display: flex;
    align-items: center;
    gap: 18px;
}

img.logo_main {
    width: 250px;
    padding-top: 12px;
}

.logo_menu li a {
    color: #363636;
}

.logo_menu li a:hover {
    color: #23780E;
}

.logo_menu .dropdown-menu {
    padding: 0;
    border: 0;
    margin-top: 10px;
}

.full_menu_nav a.header_menu_links {
    padding-right: 50px;
}

.badge_icons {
    color: #fff !important;
    height: 17px;
    position: relative;
    top: -6px;
    background: #23790e;
    width: 17px;
    float: right;
    line-height: 17px;
}

img.wishlist_img {
    margin-right: 2px;
}

.form-control {
    padding: 0.6rem 1rem;
    font-size: 0.875rem;
    height: calc(1.3125rem + 1.2rem + 2px);
    color: #363636;
    border-radius: 10px;
}

ul.dropdown-menu {
    padding: 0;
    border: 0;
}

.padding_25 {
    padding-left: 25px;
}

.logo_menu .dropdown-menu a {
    padding-top: 11px;
    padding-bottom: 10px;
    border-bottom: 1px solid #123498;
}

.logo_menu a {
    height: 100%;
    padding-top: 30px;
    padding-right: 15px;
}

.contact_boxex {
    background: #3770B40D;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contact_icons {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.font_icons1 {
    font-size: 40px;
}

.contact_form_boxex {
    background: #3770B40D;
    text-align: center;
    padding: 60px 30px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contact_form_boxex input,
.contact_form_boxex textarea {
    background: transparent !important;
    border-radius: 5px !important;
}

.product_listing_box {
    padding: 0 !important;
    margin-bottom: 15px;
    border: 0px !important;
}

.product_listing_box .product_img_bg {
    background: #609A380D;
}

.product_box_mains {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.product_listing_box .product_box_mains {
    padding-bottom: 15px;
}

.fs-40 {
    font-size: 40px;
}

.product_dt_img {
    border: 1px solid #00000036;
    border-radius: 20px;
}

.discription_boxex button {
    color: #363636 !important;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
    border-color: transparent !important;
    background: transparent !important;
}

.discription_boxex .nav-link.active {
    color: #23780E !important;
    border-bottom: 2px solid #23780E !important;
}

.logo_menu .dropdown-toggle::after {
    border: 0;
    content: "\f107";
    font-family: "Line Awesome Free";
    font-weight: 900;
    font-size: 80%;
    margin-left: 0;
    top: 3px;
    position: relative;
}

.sale_box_main i.las.la-shopping-bag {
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 24px;
    border: 2px solid;
    background: #123498;
    right: -5px !important;
    position: absolute;
    bottom: -18px !important;
}

.sales_box_gren i.las.la-shopping-bag {
    background: #23780E;
}

.listing_rating i.las.la-star {
    color: #FFCC00;
    font-size: 14px;
    margin-top: 6px !important;
    margin-bottom: 6px;
}

.product_img_bg i.las.la-shopping-bag.la-2x {
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 24px;
    border: 2px solid;
    background: #123498;
    right: 12px;
    position: absolute;
    bottom: 20px;
}

.heading_border {
    width: 30px;
    height: 3px;
    margin-top: 5px;
    text-align: left;
}

.red_bg1 {
    background: #7F1517;
}

.blue_bg1 {
    background: #123498;
}

div#section_best_selling .product_img_bg {
    margin-right: 20px;
    margin-left: 0px;
}

div#section_newest .product_img_bg {
    position: relative;
    margin-left: 15px;
    margin-right: 5px;
}

.contact_form_boxex .btn {
    border-radius: 100px !important;
    padding: 7px 20px !important;
    width: 120px;
    margin-right: auto;
    display: block;
    font-weight: 500;
}

.login_heds {
    font-size: 44px;
    padding-top: 3px;
}

.login_border {
    background: #3636362e;
    height: 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 45px;
}

body .green_lg_btn a {
    border-radius: 50px;
    padding: 10px 35px;
    background: #23780E;
    opacity: 1 !important;
    color: #fff !important;
    border-color: #23780E !important;
    font-size: 16px !important;
}

body .blue_lg_btn a {
    border-radius: 50px;
    padding: 10px 35px;
    background: #123498;
    opacity: 1 !important;
    color: #fff !important;
    border-color: #123498 !important;
    font-size: 16px !important;
}

.login_flex {
    display: flex;
    justify-content: center;
    gap: 21px;
    padding-bottom: 26px;
}


.login_form_popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgb(255 255 255 / 65%);
    backdrop-filter: blur(10px);
}

.login_form_popup {
    overflow-y: scroll !important;
}

.product-gallery .carousel-box img {
    padding: 38px;
    width: 90%;
    padding-top: 33px;
}

/* .modal-backdrop.show {
    opacity: 0 !important;
} */


.animate_button,
.animate_button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.animate_button {
    background: none;
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    width: auto;
    padding: 7px 20px 7px 20px;
    position: relative;
    border: 0px !important;
}

body .form-control:focus {
    border-width: 1px !important;
}

.animate_button::before,
.animate_button::after {

    content: '';
    position: absolute;
    z-index: -1;
}

.white_buttons {
    background: #23780E;
    color: #fff;
    z-index: 1;
    border-radius: 50px;
}

.white_buttons::before,
.white_buttons::after {
    background: #123498;
}

.white_buttons:hover {
    color: #1D1A15;
}

/*-- black button --*/

.black1_buttons {
    z-index: 1;
    color: #fff;
    background-color: #123498;
    border-radius: 50px;
}

.black1_buttons::before,
.black1_buttons::after {
    background: #23780E;
}

.black1_buttons:hover {
    color: #fff;
}

/* BUTTON 3 */
.animate_button {
    overflow: hidden;
}

.animate_button::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -43%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}

.animate_button:hover:after {
    height: 100%;
    width: 145%;
}